language: rust

rust:
  - stable
  - beta
  - nightly

script:
  - cargo test --no-default-features --features="std"
  - cargo test --no-default-features --features="std complex-expressions"
  - cargo test --no-default-features --features=""
  - cargo test --no-default-features --features="complex-expressions"

matrix:
  include:
    - name: "README.md doc test"
      rust: nightly
      script:
        - cargo test --features=external_doc --doc
    - name: "no-std build"
      rust: stable
      script:
        - rustup target add thumbv6m-none-eabi
        # Need to cd because of https://github.com/rust-lang/cargo/issues/5364
        - (cd num_enum && cargo build --target=thumbv6m-none-eabi --no-default-features -p num_enum)
        - (cd renamed_num_enum && cargo build --target=thumbv6m-none-eabi --no-default-features -p renamed_num_enum --lib)
    - name: "cargo fmt"
      rust: stable
      script:
        - rustup component add rustfmt
        - cargo fmt --all -- --check
